<h2>看看</h2>

<div style="line-height: 20pt;padding:18px;border-bottom:1px solid #B1CDE7;margin-bottom:20px;">
    SeeSee是一个分享动漫视频以及动漫相关产业的网站。我们的目标是做一个简约不简单的网站。用自己掌握的技术给每一个志同道合的漫游一个更新更快更炫的视觉体验。
    
    网站初期建立人员为：龙第九子，qiqi，片片，咖啡语茶。
    <br>
    <br>
    如果你有任何与网站相关的问题，请随时致电以下邮箱中的任意一个，我们将会用最快的速度给你一个满意答复。
    <br>
    Email联系方式：physacco@gmail.com, liruqi@gmail.com,highxin@gmail.com.
    让你我见证SeeSee的成长吧！
  </div>
