/*
page
  header
  content
    nav
    main
      left
      right
  footer
*/

.info-tag {
color: #ff0099;
}
a {
color: #00f;
text-decoration:none;
}
a:visited {
/*color:#a06600;*/
color: #00f;
}
a:hover {
color:#00f;
background: none;
text-decoration:underline;
}
#nav a.navlink {
color: #000;
font-size: 14px;
text-decoration:none;
padding: 4px 20px;
font-family: Verdana,"宋体",sans-serif;
border: 1px solid;
border-color: #fff;
}
#nav a.navlink:visited {
color: #000;
text-decoration:none;
border: 1px solid;
border-color: #fff;
}
#nav a.navlink:hover {
text-decoration:none;
background: none;
border: 1px solid;
border-color: #ff0099;
}
hr {
color: #eee;
}
#page {
margin: 0 auto;
padding: 0;
width: 960px;
overflow: none;
}
#header {
margin: 0;
padding: 2px;
text-align: center;
}
#head-logo {
position: relative;
text-align: left;
left: 0;
top: -18px;
width: 50%;
}
#head-stuff {
position: relative;
width: 100%;
}
#login-info {
position: relative;
/*background-color: #cccccc;*/
text-align: right;
}
#login-info ul {
margin: 0;
padding: 0;
width: 100%;
}
#login-info li {
font-weight: bold;
display: inline;
/*line-height: 2em;*/
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin: 0;
/*padding: 0 10px;*/
}
#login-info a {
color: #000;
font-size: 12px;
padding: 4px 20px;
font-family: Verdana,"宋体",sans-serif;
border: 1px solid;
border-color: #fff;
}
#login-info a:visited {
color: #000;
}
#login-info a:hover {
text-decoration:none;
background: none;
border-color: #ff0099;
}
#content {
position: relative;
min-height: 400px;
width: 100%;
clear: both;
}
#nav {
position: absolute;
top: 0;
left: 0;
margin: 0;
padding: 0;
width: 100%;
background-color: #ffffff;
}
#nav ul {
margin: 0;
padding: 0;
width: 100%;
}
#nav li {
font-weight: bold;
display: inline;
float: left;
line-height: 2em;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin: 0;
padding: 0 10px;
}
#main {
position: relative;
top: 15px;
background-color: #ffffcc;
}
#left {
display: inline;
float: left;
margin-top: 28px;
overflow: hidden;
width: 55%;
/*background-color: #cceecc;*/
}
#player {
width: 480px;
height: 360px;
padding: 0 25px;
background-color: #000;
}
.mvlist-ul {
margin: 0;
padding: 0;
width: 100%;
}
.mvlist-item {
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin: 0 0 15px 0;
padding: 0;
background-color: #ddeedd;
}
.mvlist-item-head {
background-color: #ddd;
}
.comment-list-ul {
margin: 0;
padding: 0 0 15px 0;
width: 100%;
}
.comment-list-item {
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin: 0;
padding: 0;
}
.comment-list-item-head {
background-color: #ddd;
}
.comment-list-item-body {
padding: 5px 0;
}
#right {
display: inline;
float: right;
margin: 50px 0 0 0;
width: 42%;
/*background-color: #ddffdd;*/
}
#ajaxCon {
}
.ajax-element {
margin: 0 0 20px 0;
}
.ajax-element-head {
background-color: #ededed;
}
.ajax-element-body {
padding: 0;
}
#ajaxCon-movie-info {
background-color: #ddeedd;
}
#footer {
position: relative;
top: 40px;
padding: 5px;
text-align: center;
clear: both;
border: 1px dashed #bfbfbf;
border-width: 1px 0 0;
}
#foot-logo {
position: relative;
float:left;
}
#foot-stuff {
position: relative;
float:right;
}
#upload-movie-form textarea {
width: 75%;
height: 100px;
}
#upload-movie-form .upload-movie-form-tfield input {
width: 75%;
}
